@import './variables';
@import './icons';

:global {
  //=========== SELECT ==============
  .Select {
    border: 1px solid $line-grey;
    @include border-radius(5px);

    &.formError {
      border: 1px solid $rentspree-negative-red;
    }

    .Select-control {
      background-color: transparent;
      height: 48px; //border at parent will expand this to 50px
      border: none !important;

      .Select-placeholder {
        //border: 1px solid $line-grey;
        //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $rentspree-dark-blue 4%) no-repeat -650px 0;
        color: transparent;
        //@include transition(background-position, $anim-fast);
      }

      .Select-value {
        //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $rentspree-dark-blue 4%) no-repeat -650px 0;
        padding-left: 0 !important;
        //@include transition(background-position, $anim-fast);

        .Select-value-label {
          position: absolute;
          top: 22px;
          left: 11px;
          color: #777 !important;
        }
      }
    }

    &.is-focused > .Select-control {
      .Select-value, .Select-placeholder {
        //background-position: 0 0;
      }
    }
  }
  .Select-control {
    border: 1px solid $line-grey !important;
    height: 40px;
    box-shadow: none !important;
    @include border-radius(5px);
    @include transition(border-color, $anim);
  }
  .Select-placeholder, .Select-input, .Select--single > .Select-control .Select-value {
    text-align: left;
    //line-height: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;

    input {
      position: relative;
      top: 16px;
      left: -5px;
      color: $title-black;
    }
  }
  .is-open > .Select-control {
    border-color: $rentspree-light-blue !important;
  }

  //Select arrow
  .Select-arrow-zone {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 15px;
  }
  .Select-arrow {
    border: none;
  }
  .Select-arrow:after {
    font-family: 'simple-line-icons';
    content: '\e604';
    color: $placeholder-grey;
    @include transition(color, $anim-fast);
  }
  .is-open .Select-arrow:after {
    font-family: 'simple-line-icons';
    content: "\e607";
    color: $rentspree-blue;
  }

  //Select dropdown
  .Select-menu-outer {
    z-index: 100;
    margin: 1px 0;
    border: 1px solid $line-grey;
    font-weight: 400;
    //@include box-shadow(0, 4px, 8px, rgba($black, 0.25));
    @include border-radius(5px);
  }
  .Select-option {
    padding: 10px 15px;
    background-color: transparent;
    text-align: left;
  }
  .Select-option:first-child {
    @include border-top-right-radius(4px);
    @include border-top-left-radius(4px);
  }
  .Select-option.is-focused {
    background-color: rgba($rentspree-light-blue, 0.25);
  }
  .Select-option.is-selected {
    background-color: rgba($rentspree-light-blue, 0.75);
  }

  //Tags
  .Select--multi .Select-value {
    background-color: rgba($rentspree-blue, 1);
    border: none;
    color: $white;
    font-size: 1.1em;
    font-weight: 400;
    margin: 4px;
    margin-right: 0;
    border-radius: 20px;
    padding: 0 5px;
  }
  .Select--multi .Select-value-label {
    padding: 5px;
  }
  .Select--multi .Select-value-icon {
    border-right: none;
    padding: 2px 5px 3px;
  }
  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    color: $rentspree-negative-red;
    background-color: transparent;
  }

  //=========== TAGS ==============
  .tagsInput {
    cursor: text;
    border-radius: 5px;
    min-height: 100px;
    height: auto !important;
    max-height: 160px;
    overflow-y: auto;
    border: 1px solid $line-grey;
    padding: 25px 10px 5px;

    ~ .controlLabel {
      font-size: 11px !important;
      transform: translateY(-20px) !important;
      color: $placeholder-grey !important;
      visibility: visible !important;
      display: block !important;
      opacity: 1 !important;
      margin-top: -20px !important;
      left: 0 !important;
      z-index: 2;
    }
  }

  .react-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
  }

  .controlLabel.label-tag {
    cursor: text;
  }

  .controlLabel.label-tag.hasValue {
    margin-top: -11px;
    left: 0 !important;
  }

  .react-tagsinput--focused {
    border-color: $rentspree-dark-blue;
  }

  .react-tagsinput-tag {
    background-color: $rentspree-light-blue;
    border: 1px solid $rentspree-light-blue;
    color: $white;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
  }

  .react-tagsinput-tag a::before {
    content: " ×";
  }

  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 180px;
  }
}