.textInput::-webkit-input-placeholder {
  transition: all 0.3s ease-in-out;
  color: #333;
  opacity: 0.5;
}

.phoneInput {
  input {
    height: inherit;
    font-size: 1em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #D8D8D8 !important;

    @extend .textInput;
    border-radius: 0;
  }
}

textarea.textInput {
  font-family: 'Lato';
  font-size: 1em;
  min-height: 80px;
  padding: 25px 10px 0;
  max-width: 100%;
}

.textInput {
  font-family: 'Lato';
  font-size: 1em;
  width: 100%;
  //max-width: 650px;
  height: 50px;
  display: block;
  position: relative;
  z-index: 2;
  //border: none;
  padding: 14px 10px 0;
  border: solid 1px #D8D8D8;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  color: darken(#AAAAAA, 20%);
  border-radius: 5px;

  &:focus {
    box-shadow: none;
    outline: none;
    //background-position: 0 0;

    &::-webkit-input-placeholder {
      font-size: 11px;
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      color: #AAAAAA;
      visibility: hidden !important;
      display: none !important;
      opacity: 1;
      z-index: 2;
      transition: all 0.3s ease-in-out;
    }
  }

  &[disabled] {
    opacity: 0.6;
  }
}

.controlLabel {
  position: absolute;
  color: $placeholder-grey;
  left: 11px;
  top: 16px;
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.controlLabel.hasValue {
  font-size: 11px;
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
  color: #6CA4D2;
  visibility: visible !important;
  display: block !important;
  opacity: 1;
  z-index: 2;
}

input::-webkit-input-placeholder {
  color: transparent !important;
}

input::-moz-placeholder {
  color: transparent !important;
}

input:-moz-placeholder {
  color: transparent !important;
}

input:-ms-input-placeholder {
  color: transparent !important;
}

input:focus {
  ~ .controlLabel {
    font-size: 11px;
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
    color: #6CA4D2;
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 2;
  }
}

input[disabled] {
  ~ .controlLabel {
    font-size: 11px;
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
    color: #AAAAAA;
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 2;
  }
}

textarea::-webkit-input-placeholder {
  opacity: 0 !important;
}

textarea:focus {
  ~ .controlLabel {
    font-size: 11px;
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
    color: #6CA4D2;
    visibility: visible !important;
    display: block !important;
    opacity: 1;
    z-index: 2;
  }
}

//=========== TAGS ==============
:global {
  .tagsInput {
    cursor: text;
    border-radius: 5px;
    height: 100px !important;
    overflow-y: auto;
    border: 1px solid $line-grey;
    padding: 25px 10px 5px;

    ~ .controlLabel {

      .label-tag {
        cursor: text;

        &.hasValue {
          margin-top: -11px;
          left: 0 !important;
        }
      }
    }
    &.react-tagsinput {
      background-color: #fff;
      border: 1px solid #ccc;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 5px;
    }

    &.react-tagsinput--focused {
      border-color: $rentspree-blue;

      ~.label-tag { //controlLabel class for tagsInput
        font-size: 11px;
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px);
        color: #6CA4D2;
        visibility: visible !important;
        display: block !important;
        opacity: 1;
        z-index: 2;
      }
    }

    .react-tagsinput-tag {
      background-color: $rentspree-light-blue;
      border: 1px solid $rentspree-light-blue;
      color: $white;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      margin-right: 5px;
      border-radius: 5px;
      padding: 5px 10px;
      margin-bottom: 5px;
    }

    .react-tagsinput-remove {
      cursor: pointer;
      font-weight: bold;
      color: #fff;
    }

    .react-tagsinput-tag a::before {
      content: " ×";
    }

    .react-tagsinput-input {
      background-color: transparent;
      border: 1px solid transparent;
      color: $text-black;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      margin-right: 5px;
      border-radius: 5px;
      padding: 5px 10px;
      margin-bottom: 5px;
      width: 256px;

      &:focus {
        background-color: $background-grey;
        border: 1px solid $background-grey;
        outline: none;
      }
    }
  }
}