@import '../../styles/variables';
@import '../../styles/icons';
@import '../../styles/textinput';

.relative {
  position: relative;
  margin-bottom: 10px;
}

.topLabelBg {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 5px;
  background: white;
  width: 99%;
  height: 25px;
  display: none;
  z-index: 2;
  &.hasValue {
    display: block;
  }
}

.selectBox {

  &.formError {
    :global {
      .Select-control {
        border: 1px solid $rentspree-negative-red;
      }
    }
  }

  &.hasLabel {
    :global {
      .Select-value-label {
        position: relative;
        top: 6px;
      }
      .Select-placeholder {
        display: none;
      }
      .Select-input {
        position: relative;
        top: 6px;
      }
    }
  }
}

.showPassword {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 2;

  &:hover {
    i {
      color: $steel-blue;
    }
  }

  i {
    font-size: 1.4em;
    color: $placeholder-grey;
  }
}

.button {
  position: relative;
  background-color: $rentspree-blue;
  color: $white;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
  @include border-radius(5px);
}

.buttonError:active, .shake {
  background-color: $rentspree-negative-red !important;
  animation: shake $anim cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.validateInput { // Border Color
  transition: border-color 0.2s;
  &.hasHint {
    border-color: $rentspree-negative-red;
  }
  &:focus {
    border-color: $rentspree-blue;
  }
}

.errorMessage { // Hint Color
  color: $rentspree-negative-red;
  margin-top: 5px;
  text-align: left;
}
